<html>
<head>
<link rel="stylesheet" href='/static/main.css' />
<title>Team6 - Door Automation</title>
</head>
<body>
<center>
{% for pin in pins %}
<p>
{% if pins[pin].state == true %}
<a href="/{{pin}}/off">
<img src="/static/off.png" width="70" height="70"></a>
<br><br>Door Unlocked<br><br>
{% else %}
<a href="/{{pin}}/on">
<img src="/static/on.png" width="70" height="70"></a>
<br><br>Door Locked<br><br>
{% endif %}
</p>
{% endfor %}
<iframe src="http://192.168.1.101:8081" width="640" height="480">
        <p>Error: Cannot stream webcam video</p>
</center>
</body>
</html>
